*
!*/
!*.json
!*.md
!*.yml
!*.html
!*.css
!*.js
!*.mjs
!*.jsx
!*.ts
!*.tsx
!*.svelte
!*.vue
!*.sh
!*.gitignore
!*.env
!*.env.*

# npm files
node_modules
package.json

# project
dist
CHANGELOG.md
.husky/_/
